/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MOSDEPTH {
        publishDir = [
            [
                path: { "${params.outdir}/Coverage/average_per_region/regions/" },
                mode: params.publish_dir_mode,
                pattern: '*.regions.bed.gz'
            ],
            [
                path: { "${params.outdir}/Coverage/average_per_region/regions/" },
                mode: params.publish_dir_mode,
                pattern: '*.regions.bed.gz.csi'
            ],
            [
                path: { "${params.outdir}/Coverage/average_per_region/distributions" },
                mode: params.publish_dir_mode,
                pattern: '*.summary.txt'
            ],
            [
                path: { "${params.outdir}/Coverage/average_per_region/distributions" },
                mode: params.publish_dir_mode,
                pattern: '*.global.dist.txt'
            ],
            [
                path: { "${params.outdir}/Coverage/average_per_region/distributions" },
                mode: params.publish_dir_mode,
                pattern: '*.region.dist.txt'
            ]]
        ext.args = '--no-per-base -Q 25'

    }

    withName: HTSNIMTOOLS_COUNT_READS {
        publishDir = [
            [
                path: { "${params.outdir}/Coverage/counts_per_region/" },
                mode: params.publish_dir_mode,
                pattern: '*.cpt.bed.gz'
            ]
        ]
        ext.args = '-Q 25'
    }

}
