profiles {
  GATK4 {
    env {
      ref_fasta = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta"
      ref_fasta_index = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta.fai"
      ref_dict = "\${TMPDIR}/v0/Homo_sapiens_assembly38.dict"
      ref_alt = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta.64.alt"
      ref_sa = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta.64.sa"
      ref_amb = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta.64.amb"
      ref_bwt = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta.64.bwt"
      ref_ann = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta.64.ann"
      ref_pac = "\${TMPDIR}/v0/Homo_sapiens_assembly38.fasta.64.pac"
      contamination_sites_ud = "\${TMPDIR}/v0/Homo_sapiens_assembly38.contam.UD"
      contamination_sites_bed = "\${TMPDIR}/v0/Homo_sapiens_assembly38.contam.bed"
      contamination_sites_mu = "\${TMPDIR}/v0/Homo_sapiens_assembly38.contam.mu"
      compression_level = "2"
      known_indels_sites_Gold = "\${TMPDIR}/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      known_indels_sites_assembly38 = "\${TMPDIR}/v0/Homo_sapiens_assembly38.known_indels.vcf.gz"
      known_indels_sites_index_Gold = "\${TMPDIR}/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
      known_indels_sites_index_assembly38 = "\${TMPDIR}/v0/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
      dbSNP_vcf = "\${TMPDIR}/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
      dbsnp_vcf = "\${TMPDIR}/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
      axiomPoly_resource_vcf ="\${TMPDIR}/v0/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
      hapmap_resource_vcf = "\${TMPDIR}/v0/hapmap_3.3.hg38.vcf.gz"
      mills_resource_vcf = "\${TMPDIR}/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      omni_resource_vcf = "\${TMPDIR}/v0/1000G_omni2.5.hg38.vcf.gz"
      one_thousand_genomes_resource_vcf = "\${TMPDIR}/v0/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
      wgs_calling_interval_list = "\${TMPDIR}/v0/wgs_calling_regions.hg38.interval_list"
      wgs_coverage_interval_list = "\${TMPDIR}/v0/wgs_coverage_regions.hg38.interval_list"
      wgs_evaluation_interval_list = "\${TMPDIR}/v0/wgs_evaluation_regions.hg38.interval_list"
      haplotype_scatter_count = "50"
      scatter_order="/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/scattered.interval_list.tmpdir.order"
      break_bands_at_multiples_of = "1000000"
    }
    singularity {
      runOptions = '--bind "\$TMPDIR" --bind "/share/" --bind "/directflow/ClinicalGenomicsPipeline/" --bind "/paella/CRAMPipeline/"'
    }
    process {
      withName: mosdepthCounts {
        cpus = '4'
        container = '/share/ClusterShare/software/contrib/jossch/singularity_images/mosdepth-0.3.2.sif'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/ && cp /share/ScratchGeneral/jossch/annotations/hg38/gencode.v38.AUTO-ALL-EXONS-1TPG-MERGED-50bp_MS-GC.GC5-DF-SD.bed \${TMPDIR}"
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: GenerateSubsettedContaminationResources {
        cpus = '1'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/bedtools_2.27.1.sif'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
      }
      withName: CreateSequenceGroupingTSV {
        executor = 'local'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/python-2.7.img'
      }
      withLabel: 'Contamination' {
        cpus = '4'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/us.gcr.io-broad-gotc-prod-verify-bam-id-c8a66425c312e5f8be46ab0c41f8d7a1942b6e16-1500298351.img'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '5000 MB'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withLabel: QC {
        cpus = '8'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '7000 MB'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: BaseRecalibrator {
        cpus = '4'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '6000 MB'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/broadinstitute-gatk-4.1.4.0.img'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: GatherBQSRReports {
        cpus = '8'
        memory = '4000 MB'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/broadinstitute-gatk-4.1.4.0.img'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: ApplyBQSR {
        cpus = '8'
        memory = '4000 MB'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/broadinstitute-gatk-4.1.4.0.img'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: GatherBamFiles {
        cpus = '8'
        memory = '4000 MB'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: ConvertToCram {
        cpus = '10'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '4000 MB'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: HaplotypeCallerGATK3 {
        cpus = '4'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '10000 MB'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: HaplotypeCaller {
        cpus = '8'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '4000 MB'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/broadinstitute-gatk-4.1.4.0.img'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: CheckPreValidationPython {
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/python-2.7.img'
      }
      withName: verifyBamIDMultiQCEdit {
        executor = 'local'
      }
      withName: MultiQC {
        cpus = '1'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/ewels-multiqc-1.9.img'
      }
      withName: FlaconQC {
        executor = 'local'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/falcon_multiqc.simg'
        containerOptions = '--bind "/share/" --bind "/directflow/ClinicalGenomicsPipeline/" --bind "/paella/CRAMPipeline/" --bind /home/shyrav/dev/project-falcon/database/config.py:/project-falcon/database/config.py'
      }
      withName: bamvalidate {
        cpus = '4'
        container = '/share/ClusterShare/software/contrib/evaben7/kccgpipeline/20190927/fastq2gvcf'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '7000 MB'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
      withName: ValidateGVCF {
        cpus = '4'
        container = '/share/ClusterShare/software/contrib/shyrav/sigularity/broadinstitute-gatk-4.1.4.0.img'
        beforeScript = "cp /directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0.tar.gz \${TMPDIR} && tar -xvf \${TMPDIR}/v0.tar.gz -C \${TMPDIR}/"
        memory = '7000 MB'
        scratch = true
        stageInMode = 'copy'
        stageOutMode = 'rsync'
      }
    }
  }
}
