/*
 * -------------------------------------------------
 *  Nextflow config file for running on laptop
 * -------------------------------------------------
 * Use as follows:
 * nextflow run wescnv -profile local
 */

params {
    max_memory                 = '2.GB'
    max_cpus                   =  2
    max_time                   = '2.h'
}
